/*xs extra small*/
@media (min-width: 1px)  {
    
    .container {
        max-width: 100%;
    }
    
    .section-title {
        min-height: 100px;
    }
    
    /*xs header start*/
       
    .top-heading__wrapper {
        background: url(../img/games/banner_sm.jpg) #ffcc00 no-repeat;
        min-height: 400px;
        background-size: 100%;
    }



    .top-heading__slider-text>h1 {
        font-family: 'Montserrat-Black' , sans-serif;
        font-size: 1.6rem;
        padding-top: 3rem;

    }

    .top-heading__slider-text h1 span {
        display: block;
        font-family: 'Montserrat-Black' , sans-serif;
        font-size: 3.25rem;
        line-height: 0.7;
    }


    .top-heading__text h1 {
        font-family: 'Montserrat-Black' , sans-serif;
        font-size: 2.25rem;

    }

    .top-heading__text span {
        font-size: 2rem;
        font-family: 'Montserrat-Black' , sans-serif;
    }
    
    a.top-heading__btn, 
    a.top-heading__btn:focus {
        font-size: 1.2rem;
    }
    /*xs header end*/
    
    .testimonial-item {
        flex-direction: column;
        text-align: center;
    }
    
    .testimonial-item__img {
        margin-bottom: 1.5rem;
    }
    
    
    .advantage-item {
        flex-direction: column;
    }
    
    .advantage-item__badge {
        margin:0;
    }
    
    .advantage-item__text {
    font-size: 1rem;
    padding: .9rem;
    text-align: center;
    }
    
    .where__content {
        padding: 2rem;
    }
    
    /*xs footer start*/
    

    /*xs footer end*/
    
}    
/*sm small*/
@media (min-width: 576px)  {
    .top-heading__wrapper {
        background: url(../img/games/banner_md.jpg) #ffcc00 no-repeat;
        min-height: 400px;
        background-size: 100%;
    }
}

/*md medium*/
@media (min-width: 768px)  {
    

    .top-heading__wrapper {
        background: url(../img/games/banner_big.jpg) #ffcc00 no-repeat 100% 100% / cover;
        min-height: 400px;
    }
    
    .timetable-item__btn {
        padding: 0.4rem 1rem;
        font-size: .85rem;
    }

    .advantage-item {
        flex-direction: row;
    }

    .team-item {
        padding: 2rem;
    }
    .team-item__name {
        font-family: 'Montserrat-Bold' , sans-serif;
        color: #ffcc00;    
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-top: 1rem;
    }

    .team-item__text {
        font-size: 1rem;
    }
    
    /*md footer start*/
    .footer-line img {
        width:auto;
    }
    /*md footer end*/
}

/*lg large*/
@media (min-width: 992px)  {
    
    .container {
        max-width: 1140px;
    }

    
    .section-title {
        min-height: 150px;
    }
    
    /*lg header start*/
    
    .top-heading__wrapper {
         background: url(../img/games/banner_big.jpg) #ffcc00 no-repeat;
        min-height: 400px;
        background-size: 100% 100%;
    }
    

    .top-heading__slider-text>h1 {
        font-family: 'Montserrat-Black' , sans-serif;
        font-size: 2.2rem;
        padding-top: 0;

    }

    .top-heading__slider-text h1 span {
        display: block;
        font-family: 'Montserrat-Black' , sans-serif;
        font-size: 5.25rem;
        line-height: 0.7;
    }


    .top-heading__text h1 {
        font-family: 'Montserrat-Black' , sans-serif;
        font-size: 3.25rem;

    }

    .top-heading__text span {
        font-size: 3rem;
        font-family: 'Montserrat-Black' , sans-serif;
    }

    
    .top-heading__desc {
        /*padding: 0 15%;*/
        font-size: 1.7em;
        /*padding-top: 10rem;*/
    }
    
    .top-heading__wrapper {
        min-height: 530px;
    }

    a.top-heading__btn, 
    a.top-heading__btn:focus {
        font-size: 1.5rem;
    }
    /*lg header end*/
    
    .timetable-item__btn {
        padding: 0.7rem 1.8rem;
        font-size: 1rem;
    }
    
    .testimonial-item {
        flex-direction: row;
        text-align: left;
    }

    .testimonial-item__content {
        padding-left: 1.5rem;
        width: 70%;
    }
    
    .testimonial-item__img {
        margin-bottom: 0rem;
        width: 30%;
    }
    
    .advantage-item__text {
    font-size: 1.2rem;
    padding: .1rem;
    text-align: left;
    }
    
    .advantage-item__badge {
        margin-right: 2rem;
    }
    
    .where__content {
        padding: 4rem;
    }
    
    #button-up {
        right: 5%;
    }
    
    .pulse {
        right: 5%;
    }
}

/*extra large*/
@media (min-width: 1200px)  {
  
}